<h1> New Blog Post </h1>

<%= form_for @blog do |f| %>
  <p>
  	<%= f.label :title %>: <%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :body %>: <%= f.text_area :body %>
  </p>

<% end %>
